header{
    display:flex;
    
    justify-content:space-between;
}
.headerTitle{
    font-size:25px;
    font-weight:bold;
    
}

div nav{
    margin-top:10px;   
}
nav span{
    margin:7px
    
}
.cart-count {
    background-color:orangered;
    border-radius: 12px;
    display:inline-block;
    height: 12px;
   
    width:12px;
    font-size: 12px;
    padding: 3px;
    text-align: center;
 }

article{
    
    background-color: black;
    margin-top:25px;
    padding: 15px;
    color:bisque;   
}
.bi-lightning-charge-fill{
    color:goldenrod;
    }

footer{
    
 margin-top: 700px;
 height:150px;
    background-color:black;
    color:white;
    display:grid;
    grid-template-columns: 2.4fr 2.4fr 2.4fr 2.4fr 2.4fr;
}

.footer-title{
    margin-left:6px;
    font-size:25px;
    color:grey
}

 .social-media{
    margin-top: 6px;
    font-size: 12px;
    color: gray;
    margin-left: 12px;
 }
 .footer-title-info{
    padding:5px;
    font-size: 19px;
 }
 .footer-info{
    padding:2px;
    color:grey;
 }   
 body{
    background-color: rgb(71, 161, 175);
 }